<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    {{nuevoJuego.nombre}}!
  </h1>
 </div>
<h2></h2>
<form name="juego">
  <div *ngFor="let imagen of imagenes">
    <img [src]="imagen">
  </div>
  <button (click)="generarjugada()"> Nuevo Juego  </button>
  <label>
    ingrese la palabra:  
  </label>  
    <input [(ngModel)]="nuevoJuego.respuestaUsuario" placeholder="ingrese la palabra" name="palabraIngresada" type="text" class="form-control" style="width:50%"/>
  <button (click)="verificar()"> Nuevo Juego  </button>
</form>