<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="text-align:center">
  <h1>
    {{nuevoJuego.nombre}}!
  </h1>
 </div>
<h2></h2>

  <div *ngIf="imagenes.length == 4" align="center" >
    <table>
      <tr><td> <img src="{{ imagenes[0] }}" alt=""></td> 
          <td> <img src="{{ imagenes[1] }}" alt=""></td> </tr>
          
      <tr><td> <img src="{{ imagenes[2] }}" alt=""></td> 
          <td> <img src="{{ imagenes[3] }}" alt=""></td> </tr>
    </table>
    <br>
    <label>
      ingrese la palabra:  
    </label>  
      <input [(ngModel)]="nuevoJuego.respuestaUsuario" placeholder="ingrese la palabra" name="palabraIngresada" type="text" class="form-control" style="width:50%"/>
    <button (click)="verificar()"> Verificar  </button>
  </div>
  <div *ngIf="imagenes.length != 4">
    <h1> Terminaste el juego! </h1>
  </div>
