<app-cabecera></app-cabecera>

<div class="pd" style="background:#000063;">
  <div class="container rounded" style="background:firebrick;">
    <div class="typewriter">
          <h1> Quien soy?</h1>
    </div>
    <div class="row"  > 
      <div class="col-sm" >
        <br>
        <img src="assets/imagenes/quiensoy.jpg" class="img-fluid mx-auto d-block imagenQuienSoy" alt="">
        <h2> Mi nombre es Gustavo Petruzzi, tengo 26 años, soy un alumno de la universidad UTN FRA </h2>
        <h3> Esta es mi trabajo practico sobre una sala de juegos. </h3>
        <h4> El trabajo consistia en rediseñar una pagina sobre una sala de juegos. Ademas, habia que incluir un juego nuevo
             y arreglar los que no funcionasen.
        </h4>
        <br>
        <br>
        <h2> El juego que inclui es "4 imagenes 1 palabra"</h2>
        <img src="assets/imagenes/imagenes.png" class="img-fluid mx-auto d-block imagenQuienSoy" alt="">
        <h3> 
          El juego mide la capacidad del jugador de identificar  las cuatro imagenes con una palabra en el menor tiempo
          posible.
        </h3>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>