<app-cabecera></app-cabecera>
<div class="container-fluid">
	<div class="row">
		
		<div class="col-sm"> 
			<h1> Parece que no es lo  que estas buscando </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<button   routerLink="/"  class="btn btn-primary">Pagina principal </button>   
		</div>
		<div class="col-sm"> 
		</div>
		<div class="col-sm">
			<button   (click)="volver()"  class="btn btn-primary pull-right">volver a la pagina anterior </button>   
		</div>
	</div>

	<div class="row">

		<div class="col-sm">
			<img style="width:35%" class=" img-responsive rounded mx-auto d-block" src="/assets/imagenes/error.png">	
		</div>
	</div>
</div>	