<div style="background:#000063;">
  <div class="container" style="background:#000063;" >
    <div class="row" >
      <div class="col-sm-4 py-2">
        <div class="card"(click)="Juego('Agilidad')">
          <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
          <h1>Velocidad y agilidad aritmética </h1>
          <p class="title">Juego de agilidad mental</p>
          <p>UTN FRA </p>
      
        </div>
      </div>
      
      <div class="col-sm-4 py-2">
        <div class="card" (click)="Juego('Piedra')" >
          <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
          <h1>Piedra Papel o Tijera</h1>
          <p class="title">Juega contra la máquina</p>
          <p>UTN FRA </p>
        </div>
      </div>


      <div class="col-sm-4 py-2">
        <div class="card" (click)="Juego('Adivina')" >
          <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
          <h1>Adivina el número secreto</h1>
          <p class="title">Juega de estrategia</p>
          <p>UTN FRA </p>
        </div>
      </div>

      <div class="col-sm-4 py-2">
        <div class="card" (click)="Juego('Imagenes')" >
          <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
          <h1>Cuatro imagenes 1 palabra</h1>
          <p class="title">Juega de estrategia</p>
          <p>UTN FRA </p>
        </div>
      </div>
    </div>
  </div>