
<app-cabecera></app-cabecera>

<div class="container-fluid" style="background:#000063;" >
  <div class="row" style="background:#000063;">
    <div class="col-md-4 offset-2 ">
      <form (ngSubmit)="Entrar()" #loginForm="ngForm">
        <h1 style="text-align: center"> Login </h1>
        <div class="form-group">
          
          <input type="text" class="form-control" id="name"
          required
          pattern="[a-zA-Z][a-zA-Z ]+"
          [(ngModel)]="usuario" name="name"
          #name="ngModel" placeholder="Usuario">
          <div [hidden]="name.valid || name.pristine"
              class="alert alert-danger">
              <div [hidden]="!name.hasError('required')">El usuario es requerido</div>
              <div [hidden]="!name.hasError('pattern')">Se requiere mas de un caracter</div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="pass"
          required
          [(ngModel)]="clave" name="pass"
          minlength="8" 
          #pass="ngModel" placeholder="Clave"> <!-- #pass y validator tienen que ser iguales -->
          <div [hidden]="pass.valid || pass.pristine"
              class="alert alert-danger">
              <div [hidden]="!pass.hasError('minlength')">La clave es minimo de 8 caracteres</div>
              <div [hidden]="!pass.hasError('required')">La clave es requerida</div>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-block" [disabled]="!loginForm.form.valid">Loguearse</button>
      </form>
    </div>
    <div class="col-md-4 pl-3">
      <form (ngSubmit)="registrarse()" #registrarseForm="ngForm">
        <h1 style="text-align: center"> Registrarse </h1>
        
        <div class="form-group">
          <input type="text" class="form-control" id="nameR"
          required
          pattern="[a-zA-Z][a-zA-Z ]+"
          [(ngModel)]="nombre" name="nameR"
          #nameR="ngModel" placeholder="Nombre">
          <div [hidden]="nameR.valid || nameR.pristine"
              class="alert alert-danger">
              <div [hidden]="!nameR.hasError('required')">El nombre es requerido</div>
              <div [hidden]="!nameR.hasError('pattern')">Se requiere mas de un caracter</div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="surname"
          required
          pattern="[a-zA-Z][a-zA-Z ]+"
          [(ngModel)]="apellido" name="surname"
          #surname="ngModel" placeholder="Apellido">
          <div [hidden]="surname.valid || surname.pristine"
              class="alert alert-danger">
              <div [hidden]="!surname.hasError('required')">El apellido es requerido</div>
              <div [hidden]="!surname.hasError('pattern')">Se requiere mas de un caracter</div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="userR"
          required
          pattern="[a-zA-Z][a-zA-Z ]+"
          [(ngModel)]="usuarioRegistro" name="userR"
          #userR="ngModel" placeholder="Apellido">
          <div [hidden]="userR.valid || userR.pristine"
              class="alert alert-danger">
              <div [hidden]="!userR.hasError('required')">El usuario es requerido</div>
              <div [hidden]="!userR.hasError('pattern')">Se requiere mas de un caracter </div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="mail"
          required
          [(ngModel)]="email" name="mail"
          #mail="ngModel" placeholder="Email"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"> <!-- #mobile y validator tienen que ser iguales -->
          <div [hidden]="mail.valid || mail.pristine"
              class="alert alert-danger">
              <div [hidden]="!mail.hasError('pattern')"> Formato de mail invalido</div>
              <div [hidden]="!mail.hasError('required')">El mail es requerido</div>
          </div>
        </div>
<!-- Agregar 2 claves para validarse entre si -->
        <div class="form-group">
          <input type="password" class="form-control" id="passR"
          required
          [(ngModel)]="usuarioRegistro" name="passR"
          minlength="8" 
          #passR="ngModel" placeholder="Clave"> <!-- #passR y validator tienen que ser iguales -->
          <div [hidden]="passR.valid || passR.pristine"
              class="alert alert-danger">
              <div [hidden]="!passR.hasError('minlength')">La clave es minimo de 8 caracteres</div>
              <div [hidden]="!passR.hasError('required')">La clave es requerida</div>
          </div>
        </div>

        <button type="submit" class="btn btn-success btn-block"  [disabled]="!registrarseForm.form.valid">Registrarse</button>
        </form>
      <button (click)="traerJugadores()"> asdasda</button>
    </div>
  </div>
</div>
    