
<div class="panel">
  <div class="hero-text">
      <h1 style="font-size:50px">Sala de Juegos</h1>
      <p>Gustavo Petruzzi</p>
      <a href="https://github.com/gustavoPetruzzi"target="_blank">en GitHub <i class="fa fa-github"></i></a>
      <a  routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>
  </div>
</div>
<nav class="nav nav-pills nav-justified" style="background:firebrick;" >
  <a class="nav-item nav-link active" routerLink="/Principal"> Pagina principal </a>
  <a class="nav-item nav-link" routerLink="/Juegos"> Juegos </a>
  <a class="nav-item nav-link active" routerLinkk="/Listado" > Resultados </a>
  <a class="nav-item nav-link" routerLink="/Jugadores"> Jugadores </a>
</nav>
