<div class="container-fluid" style="background:firebrick">
    <h1 class="text-center" style="background:firebrick">
      {{nuevoJuego.nombre}}
    </h1>
    <div class="row">
      <div class="col-sm-3">
        <img src="assets/imagenes/pierda.png" class="img-responsive center-block" style="width: 100%" (click)="verificar(1)">
      </div>
      <div class="col-sm-3">
        <img src="assets/imagenes/papel.png"  class="img-responsive center-block" style="width: 100%" (click) ="verificar(2)">
      </div>
      <div class="col-sm-3">
        <img src="assets/imagenes/tijera.png " class="img-responsive center-block" style="width: 100%" (click) ="verificar(3)" >
      </div>
      <div class="col-sm-3">
        <table class="table">
          <tr>
            <th>Ganadas</th>
            <th>Empatadas</th>
            <th>Perdidas</th>
          </tr>
          <tr *ngFor="let jugada of jugadas">
              <ng-template [ngIf]="jugada == '1'">
                <td> X </td>
                <td> O </td>
                <td> O </td>
              </ng-template>
              <ng-template [ngIf]="jugada == '2'">
                <td> O </td>
                <td> X</td>
                <td> O </td>
              </ng-template>
              <ng-template [ngIf]="jugada == '3'">
                <td> O </td>
                <td> O </td>
                <td> X </td>
              </ng-template>
          </tr>
        </table>
      </div>
    </div>
</div>
