<div class="container-fluid" style="background:firebrick">
    <h1 class="text-center" style="background:firebrick">
      {{nuevoJuego.nombre}}
    </h1>
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/imagenes/pierda.png" (click)="verificar(1)">
      </div>
      <div class="col-sm-4">
        <img src="assets/imagenes/papel.png" (click) ="verificar(2)">
      </div>
      <div class="col-sm-4">
        <img src="assets/imagenes/tijera.png " (click) ="verificar(3)" >
      </div>
      <div class="col-sm-6">
        <table>
          <tr>
            <th>Ganadas</th>
            <th>Empatadas</th>
            <th>Perdidas</th>
          </tr>
          <tr *ngFor="let jugada of jugadas">
              <ng-template [ngIf]="jugada == '1'">
                <td> X </td>
                <td> O </td>
                <td> O </td>
              </ng-template>
              <ng-template [ngIf]="jugada == '2'">
                <td> O </td>
                <td> O </td>
                <td> X </td>
              </ng-template>
              <ng-template [ngIf]="jugada == '3'">
                <td> O </td>
                <td> X </td>
                <td> O </td>
              </ng-template>
          </tr>
        </table>
      </div>
    </div>
  <form name="juego">
    <button (click)="verificar(1)"> Piedra  </button>
    <br>
    <button (click)="verificar(2)"> Papel  </button>
    <br>
    <button (click)="verificar(3)"> Tijera  </button>
  </form>
</div>
